@require '../helpers/above-and-below'


.header
  display: grid
  align-items: center
  padding: 16px
  min-height: 80px
  color: #fff
  grid-template-columns: repeat(3, auto)
  grid-column-gap: 16px


.label
  display: block


.select
  margin-right: 4px
  min-width: 112px
  max-width: 224px
  text-transform: capitalize


.button
  position: relative
  top: -1px
  padding: 2px
  font-weight: bold
  font-size: 10px


.title
  margin: 0
  text-align: center
  word-break: break-all


.formInput, .input
  text-align: right


.input
  margin-left: -4px
  padding: 4px
  width: 100%
  border: none
  background-color: transparent
  color: #fff
  font-size: 14px
  font-family: inherit

  &:focus
    outline: none

  &::placeholder
    color: var(--light-gray)
    font-style: italic


+below(600px)
  .header
    grid-template-columns: 1fr
    grid-row-gap: 8px

  .formInput, .input, .formSelect
    text-align: center

  .formSelect
    order: 3

  .formSelect > .label
    display: inline

  .select
    display: inline
    margin-left: 8px
