html
  box-sizing: border-box


*, *::before, *::after
  box-sizing: inherit


body
  margin: 0
  padding: 0
  font-family: 'Segoe UI', sans-serif
  line-height: 1.5


:root
  // Colors variable
  --dark-gray: #373c3f
  --mid-gray: #878a8c
  --light-gray: #d7d8d9
  --lighter-gray: #f8f8f8
  --red: #c73349
  --blue: #5a75cc
